/* Reset dasar */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Background & Font */
body {
    background: linear-gradient(to right, #fefefe, #f5f5dc); /*warna bg sesuaikan lagi*/
    font-family: 'Times New Roman', Arial, sans-serif; /*font cocokin lagi*/
}

/* Container */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    padding: 50px;
}

/* Text Styling */
.text-content {
    max-width: 50%;
}

h1 {
    font-size: 48px;
    color: #000;
}

/* Search Bar */
.search-bar {
    margin-top: 20px;
    padding: 10px;
    width: 80%;
    max-width: 400px;
    border: 1px solid #ccc;
    border-radius: 20px;
    outline: none;
}

.search-bar::placeholder {
    color: gray;
}
@media (max-width : 768px) {
    .container {
        flex-direction: column;
        text-align: center;
    }
    .text-content{
        max-width: 100%;
    }
}
